<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.flutter_telegram_auth">

    <queries>
        <!-- Intent-based discovery -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tg" />
        </intent>

        <!-- Package-based discovery -->
        <package android:name="org.telegram.messenger" />
        <package android:name="org.telegram.messenger.web" />
        <package android:name="org.thunderdog.challegram" />
        <package android:name="org.telegram.messenger.beta" />
    </queries>

</manifest>
